<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <h1>{{ title }}</h1>
    <p>You have successfully logged in</p>
    <p>Select the file you want to import</p>
    {{#files}}
    <div class="drive-item z-depth-1 center-align" id="{{id}}">{{name}}</div>
    {{/files}}
  </body>
</html>
