<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{ title }}</h1>
    You have successfully logged in
    {{#files}}
    <div>{{.}}</div>
    {{/files}}
  </body>
</html>
